<div class="max-w-screen-l mx-auto px-4 sm:px-6 lg:px-8">
  <header class="flex flex-wrap items-center justify-between py-3 mb-4">
    <!-- Logo -->
    <a href="/" style="color:#12296C" class="flex items-center mb-2 md:mb-0 text-primary  font-bold text-2xl col-span-12 md:col-span-3">
      Notes
    </a>

    <!-- Navigation Links -->
    <ul class="flex flex-wrap items-center justify-center col-span-12 md:col-auto mb-2 md:mb-0 space-x-4">
      <li><a href="/" class="nav-link px-2 text-gray-600 hover:text-gray-900">Home</a></li>
      <li><a href="#" class="nav-link px-2 text-gray-600 hover:text-gray-900">Features</a></li>
      <li><a href="#" class="nav-link px-2 text-gray-600 hover:text-gray-900">FAQs</a></li>
      <li><a href="/about" class="nav-link px-2 text-gray-600 hover:text-gray-900">About</a></li>
    </ul>

    <!-- Buttons -->
    <div class="flex items-center justify-end col-span-12 md:col-span-3">
      <a href="/auth/google" class="btn btn-outline-primary mr-2 hover:bg-gray-300">Sign Up</a>
      <a href="/auth/google" class="btn btn-primary hover:bg-gray-300">Sign In</a>
    </div>
  </header>
</div>