<div class="max-w-screen-l mx-auto px-4 sm:px-6 lg:px-8 container-fluid-custom py-8 md:py-20 mb-5">
    <main>
      <div class="flex flex-col md:flex-row items-center justify-center py-8 md:py-20 text-center">
  
        <div class="md:w-1/2 mb-6 md:mb-0">
          <h1 class="text-4xl md:text-6xl font-bold mb-4 relative home-title">
            Write your thoughts down as they come to you.
          </h1>
          <p class="text-lg mb-4">
            Notes is a simple to use free note taking app made with Node.Js, EJS & MongoDB.
          </p>
          <a href="/auth/google" class="bg-blue-500 hover:bg-blue-600 text-white px-8 py-4 rounded-full text-lg">Try Notes, it's FREE!</a>
        </div>
  
      </div>
    </main>
  </div>
  